:root {
  --btn-bg-color: hsl(12, 88%, 59%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Be Vietnam", sans-serif;
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: top -13% right 483%;
  background-size: 105%;
}

/*For mobile devices - to change background color when modal active */

.hide {
  background: linear-gradient(hsl(0, 0%, 98%), hsl(227, 12%, 61%));
  overflow-y: hidden;
}

/*navigation controls */

.nav__controls {
  width: 83%;
  padding-top: 40px;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__modal {
  flex-direction: column;
  display: none;
  border: none;
  box-shadow: 1px 1px 1px 1px #f4f1f7;
  width: 78%;
  margin: auto;
  text-align: center;
  padding: 15px 15px;
  background-color: white;
  border-radius: 10px;
}

/*Active states */

.nav__modal__items a:hover {
  opacity: 0.5;
}

.btnPrimary:hover {
  box-shadow: 1px 1px 2px 3px var(--btn-bg-color);
  opacity: 0.5;
}

/*End of Active states */

img.logoImg {
  height: 30%;
}

.nav__modal__items {
  padding-bottom: 30px;
}

.nav__modal__items a {
  font-weight: 700;
  color: black;
}

.nav__controls__openClose {
  position: relative;
}

.nav__btn {
  display: none;
}

.illustration {
  padding-bottom: 75px;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: right -191% top 93%;
  margin: auto
}

.illustration__img {
  width: 85.5%;
  display: block;
  margin: auto;
}

.illustration__btn {
  margin-top: 35px;
}

.illustration__details {
  width: 95%;
  margin: auto;
  text-align: center;
}

.illustration__details__title {
  font-size: 2.35rem;
}

.illustration__details__info {
  padding: 0 8%;
}

.btnPrimary {
  background-color: var(--btn-bg-color);
  border-radius: 50px;
  color: white;
  font-weight: 700;
  padding: 12px 30px;
  border: none;
}

.mainWrapper__lists__item h4 {
  background-color: hsl(12, 100%, 95%);
  padding: 0.5rem;
  width: 98%;
  position: relative;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  margin: auto;
}

.mainWrapper__lists__item {
  margin-top: 60px;
}

.mainWrapper__intro__title {
  font-size: 2rem;
}

.heading1 {
  background-color: hsl(12, 88%, 59%);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  left: 0;
  position: absolute;
  top: 0;
  margin-right: 33%;
}

.heading2 {
  margin-left: 19%;
}

.main {
  width: 85.5%;
  text-align: center;
  margin: auto;
}

.main__testimonials__title {
  font-size: 1.9rem;
  margin: 60px auto;
}

.cards__item {
  width: 83%;
  margin: 15% auto;
  background-color: hsl(0, 0%, 98%);
  position: relative;
}

.cards__item__img {
  position: relative;
  top: -45px;
  width: 20.57%;
}

.cards__item__title {
  margin-top: -33px;
  margin-bottom: 33px;
}

.cards__item__details {
  line-height: 2em;
  /* font-size: small;
  width: 100%;*/
  margin: auto;
  padding-bottom: 44px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__intro {
  background-color: hsl(12, 88%, 59%);
  padding-bottom: 1px;
}

/*
.footer__intro::after {
  content:  "";
  background-image: url("../images/bg-tablet-pattern.svg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  z-index: -1;
}
*/

.footer__intro__title {
  padding-top: 100px;
  margin: 33px auto 40px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  width: 86%;
}

.footer__intro--btn {
  background-color: white;
  color: var(--btn-bg-color);
  display: block;
  margin: auto auto 90px;
}

.footer__outro {
  background-color: hsl(233, 12%, 13%);
}

.footer__outro--email {
  margin-right: 10px;
  padding: 12px 50px;
  border-radius: 21px;
  border: none;
}

form {
  padding-top: 50px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.footerWrapper {
  width: 85.5%;
  margin: auto;
}

footer a {
  color: white;
}

.footer__outro__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding-top: 35px;
  justify-items: center;
}

.footer__outro__details ul {
  display: flex;
  flex-direction: column;
  /*row-gap: 20px;*/
}

.footer__outro__details li {
  margin-bottom: 20px;
}

.footer__outro__details a:hover {
  color: var(--btn-bg-color);
}

.footer__outro__socials {
  padding-top: 15px;
}

.footer__outro__socials ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__outro__socials img {
  width: 32px;
  /* filter: invert(119%) sepia(18%) saturate(200%) hue-rotate(271deg) brightness(180%) contrast(213%);*/
}

.footer__outro__socials img:hover {
  filter: invert(49%) sepia(100%) saturate(56%) hue-rotate(323.1deg) brightness(76.4%) contrast(627%);
}

.footer__outro__logo {
  margin-top: 50px;
  color: white;
  text-align: center;
}

.footer__outro__logo svg {
  margin: 0 auto 50px;
  display: block;
}

.copyright p {
  padding-bottom: 25px;
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.5;
}

@media only screen and (min-width: 640px) {
  .illustration {
    display: flex;
    flex-direction: row-reverse;
  }
  .illustration__img, .illustration__details {
    width: 40%;
  }
}

@media only screen and (min-width: 980px) {
  .nav__controls {
    width: 90%;
    margin: 0 0 40px 84px;
    padding-top: 70px;
  }
  .hide {
    background: transparent;
    overflow-y: visible;
  }
  p {
    text-align: left;
    /* font-size: 1.6rem;*/
  }
  img.logoImg {
    margin-top: 10px;
  }
  .openClose {
    display: none;
  }
  .nav__btn {
    display: block;
  }
  .nav__modal {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 57px;
    left: 28%;
    box-shadow: none;
  }
  .nav__modal__items {
    padding-bottom: 0px;
  }
  header {
    background-position: top 332% left 157%;
    background-size: 63%;
  }
  .main {
    width: 100%;
  }
  .mainWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/bg-tablet-pattern.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 53%;
    background-position: left -75% top 226%;
  }
  .illustration {
    margin-top: 145px;
    padding-bottom: 100px;
    background-image: none;
  }
  .illustration__details {
    width: 35%;
    margin: 0 9%;
  }
  .mainWrapper__intro {
    margin: 45px;
  }
  .illustration__details h1 {
    text-align: left;
    font-size: 2.4rem;
  }
  .mainWrapper__lists__item {
    margin: 55px;
  }
  .mainWrapper__lists__item h4 {
    background-color: transparent;
    width: 98%;
  }
  .mainWrapper__lists__item p {
    padding-right: 50px;
  }
  .mainWrapper__intro__title {
    text-align: left;
    font-size: 2rem;
    margin-left: 100px;
  }
  .mainWrapper__intro__details {
    margin-left: 100px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 1281px) {
  .mainWrapper__intro__title {
    font-size: 3rem;
  }
  .nav__modal {
    width: 45%;
    left: 25%;
  }
  .nav__controls {
    margin: 0 160px 40px;
    padding-top: 70px;
  }
  .mainWrapper__intro__details {
    padding-right: 145px;
  }
  .mainWrapper__lists__item p {
    margin-left: 110px;
  }
  .mainWrapper__lists__item h4 {
    font-size: 1.5rem;
  }
  .illustration__details h1 {
    font-size: 3.6rem;
  }
  p {
    font-size: 1.4rem;
  }
  .illustration__details {
    text-align: left;
  }
  .illustration__details__info {
    /* padding-right: 132px;*/
    padding-left: 0;
  }
  .btnPrimary {
    padding: 13px 40px;
  }
  .nav__btn {
    margin-right: 85px;
  }
  .illustration__btn {
    margin-top: 25px;
  }
  .heading2 {
    margin-left: -14%;
  }
  .main__testimonials__title {
    font-size: 3rem;
  }
  .cards__item {
    margin: 7% auto;
  }
  .cards__item__details {
    font-size: 1rem;
    width: 90%;
    text-align: center;
  }
  .cards__item__title {
    font-size: 1.5rem;
  }
  /*Footer section */
  .footer__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 180px;
  }
  .footer__intro__title {
    padding-top: 0;
    text-align: left;
    margin-left: 95px;
  }
  .swiper-slide {
    /* flex-shrink: 1 !important; */
  }
  .footerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
  }
  .footer__outro__logo {
    grid-row: 1/2;
    justify-self: self-start;
  }
  .footer__outro__socials {
    align-self: center;
    grid-row: 2/2;
  }
  .footer__outro__details {
    grid-column: 2/4;
    grid-row: 1/3;
  }
  .footer__outro--email {
    padding: 25px 45px;
    height: 25px;
  }
  .footer__outro--btn {
    height: 50px;
  }
  .footer__outro__socials ul {
    padding-left: 0;
  }
  .footer__intro--btn {
    margin-top: 53px;
    margin-right: 90px;
  }
  .copyright {
    align-self: center;
  }
}

/*.swiper-container {
  width: 600px;
  height: 300px;
}*/